@keyframes example {
  0% {
    border-color: #f5cb42;
    border-width: 0px;
  }
  5% {
    border-width: 2px;
    border-top-width: 20px;
    border-color: #f5cb42;
  }
  90% {
    border-top-width: 20px;
    border-color: #f5cb42;
  }
  95% {
    border-top-width: 2px;
    border-color: #f5cb42;
  }

  100% {
    border-color: transparent;
  }
}

#box {
  animation-fill-mode: both;
  border: 2px solid transparent;
}

@keyframes label {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}

.animate #box {
  animation: example 1.5s ease;
}

#label {
  color: black;
  opacity: 0;
  margin-left: 5px;
}

.animate #label {
  animation: label 1.5s ease;
}
